*.db
*.o
*.obj
*.dylib
*.dll
*.so
*.pdb
*.a
*.lib
*.log
*.gguf
*.bin
*.modulemap
*.modulemap.svg
*.cullmeta
build/
lib/
bin/
# rust build output
target/
nohup.out
.DS_Store
.claude/settings.local.json
# agent set working file
.claude/session-state.md
# agent set might create a temp worktree
.claude/worktrees/
.claude/temp/

# set up outside of this project (ick, but there are reasons)
.claude/agents
.claude/agents/
.claude/commands/
.claude/commands
